.navigationBar {
    @apply flex flex-row h-20 w-full bg-[#0582CA] items-center justify-between lg:justify-start;

    .mobileMenuButton {
        @apply lg:hidden p-2;

        button:focus {
            outline: none;
        }
    }
}

.mobileList {
    @apply fixed bg-[#00000067] h-full w-full lg:hidden flex flex-row justify-end left-full;
    transition: 0.7s ease-in-out;

    .listOfButtons {
        @apply bg-[#EEEEEE] sm:w-[330px] h-full flex flex-col;

        .menuHeader {
            @apply flex flex-row justify-between items-center pb-8 pt-4 px-4;

            button:focus {
                outline: none;
            }

            img {
                @apply w-8 h-8 cursor-pointer select-none;

                &:active {
                    @apply bg-[#D9D9D9] rounded-full;
                }
            }

            h2 {
                @apply text-3xl font-bold;
            }
        }

        a {
            @apply text-2xl px-4 py-2 my-1 select-none;

            &:active {
                @apply bg-[#D9D9D9];
            }
        }
    }
}

.invisible {
    @apply left-0;
}

.navigationBar > a {
    @apply text-white text-lg items-center h-full mx-4 border-b-8 border-[#0582ca00] duration-300 hidden lg:flex;
}

a.active {
    @apply lg:border-[#00B7F3];
}

.navigationBar > a:hover {
    @apply lg:border-[#00B7F3];
}
